import streamlit as st  # For creating the web app
import pandas as pd  # For data handling
import numpy as np  # For numerical operations
import seaborn as sns  # For data visualization
import matplotlib.pyplot as plt  # For plotting graphs
from sklearn.model_selection import train_test_split  # For splitting the dataset
from sklearn.ensemble import RandomForestClassifier  # ML model
from sklearn.preprocessing import StandardScaler  # For feature scaling
